* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.25;
  font-weight: 400;
  color: #2d3436;
}

.index-byline {
  font-size: 0.75rem;
  font-style: italic;
}

body > nav > a:nth-child(1) {
  margin-left: 3rem;
}

h3 {
  font-weight: bold;
}

@media (max-width: 800px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
  .blog-post-card {
    width: 100%;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}
a.navbar-brand {
  font-size: 1.5rem;
  word-spacing: 0.25rem;
  letter-spacing: 0.3rem;
}

li.nav-item {
  padding-right: 0.75rem;
}

.index-card {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  padding: 1rem;
}

.index-card-body {
  margin-bottom: -0.75rem;
}

.index-card-title {
  margin-top: 0.5rem;
}

.index-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

p.index-card-body-text {
  padding-top: 15px;
}

.field {
  padding-left: 1.25rem;
}

.login-card,
.profile-card {
  max-width: 500px;
  width: 75vw;
}

.alert {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
}

.profile-container {
  min-height: 50vh;
}

.profile-link {
  margin-top: 2rem;
}

#blogpost-homelink {
  margin-right: 0.75rem;
}

#img-max {
  margin-top: -0.5rem;
}

.form-control {
  color: red;
}
